<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password Form</title>
</head>
<body>
    <div class="container">
        <h1 class="display-3">Forgot Password Form</h1>
        <form action="/api/v1/password/reset/<%= token %>" method="post">
            <input type="password" name="password" placeholder="New password">
            <input type="password" name="confirmPassword" placeholder="Confirm password">
            <button type="submit">Reset password</button>
        </form>
    </div>
</body>
</html>